@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전역 */
body {font-family: "GmarketSansMedium", sans-serif;}
h1 { position: relative; padding-left: 20px; margin-bottom: 20px; font-size: 30px; font-weight: bold; }
h1:before { display: inline-block; content: ''; width: 8px; height: 100%; background-color: black; position: absolute; top: 0; left: 0; }
h2 { position: relative; padding-left: 20px; margin-bottom: 20px; font-size: 20px; font-weight: bold; }
h2:before { display: inline-block; content: ''; width: 8px; height: 100%; background-color: rgba(0, 0, 0, .5); position: absolute; top: 0; left: 0; }

ol li ~ li { margin-left: 10px; }
